<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for material design bootstrap inputs, input groups, custom checkboxes and radio controls and more" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" />
    <link href="~/asset/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/asset/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/asset/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/asset/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/asset/global/css/components.min.css" rel="stylesheet" id="style_components" />
    <link href="~/asset/global/css/plugins.min.css" rel="stylesheet" />
    <link href="~/asset/layouts/layout/css/layout.min.css" rel="stylesheet" />
    <link href="~/asset/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" id="style_color" />
    <link href="~/asset/layouts/layout/css/custom.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="col-md-6 ">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="icon-pin font-green"></i>
                    <span class="caption-subject bold uppercase"> Floating Labels</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm default dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                            Settings
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-pencil"></i> Edit
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-trash-o"></i> Delete
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-ban"></i> Ban
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;"> Make admin </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4>Create</h4>
            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                            <input type="text" class="form-control" id="form_control_1">
                            <label for="form_control_1">ชื่อสินค้า</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                            <input type="text" class="form-control" id="form_control_1">
                            <label for="form_control_1">รายละเอียด</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                            <input type="text" class="form-control" id="form_control_1">
                            <label for="form_control_1">ราคา</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                            <input type="text" class="form-control" id="form_control_1">
                            <label for="form_control_1">รูปภาพสินค้า</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                            <input type="text" class="form-control" id="form_control_1">
                            <label for="form_control_1">จำนวน</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                            <input type="text" class="form-control" id="form_control_1">
                            <label for="form_control_1">สี</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                            <input type="text" class="form-control" id="form_control_1">
                            <label for="form_control_1">ประเภท</label>
                        </div>

                    </div>
                    <div class="form-actions noborder">
                        <button type="button" class="btn blue">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <div class="page-footer">
    </div>
    <div class="quick-nav-overlay"></div>
    <!-- END QUICK NAV -->
    <!--[if lt IE 9]>
    <script src="~/asset/global/plugins/respond.min.js"></script>
    <script src="~/asset/global/plugins/excanvas.min.js"></script>
    <script src="~/asset/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/asset/global/plugins/jquery.min.js"></script>
    <script src="~/asset/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/asset/global/plugins/js.cookie.min.js"></script>
    <script src="~/asset/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/asset/global/plugins/jquery.blockui.min.js"></script>
    <script src="~/asset/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/asset/global/scripts/app.min.js"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/asset/layouts/layout/scripts/layout.min.js"></script>
    <script src="~/asset/layouts/layout/scripts/demo.min.js"></script>
    <script src="~/asset/layouts/global/scripts/quick-sidebar.min.js"></script>
    <script src="~/asset/layouts/global/scripts/quick-nav.min.js"></script>
    <script src="~/asset/layouts/global/scripts/quick-nav.min.js"></script>

    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>